<% @operations = @operations.sort_by { |operation| operation.created_at }.reverse %>

<h1><%= @category.name if @category %></h1>
<%= @total_amount %>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Amount</th>
    </tr>
  </thead>
  <tbody>
    <% @operations.each do |operation| %>
      <tr>
        <td><%= operation.name %></td>
        <td><%= number_to_currency(operation.amount) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Transaction', new_operation_path(category_id: @category&.id), class: 'button' %>
